<section id='songs'>
  <button {{action 'addSong' }}>+</button>
  <ul>
    {{#each song in controller}}
    <li class='song'>
      <header class='actions'>
        <button {{action 'removeSong' song }}>-</button>
        <button {{action 'sendToServer' song }}>&uparrow;</button>
      </header>
      {{#link-to 'song' song.id }}
        {{view 'notesSummary' content=song.notes}}
      {{/link-to}}
    </li>
    {{/each}}
    {{#each remoteSong in remoteSongs}}
    <li>
      {{#link-to 'song' remoteSong.id }}
        {{remoteSong.id}}
      {{/link-to}}
    </li>
    {{/each}}
  </ul>
</section>
