<section id='songs'>
  <button {{action 'addSong' }}>+</button>
  <ul>
    {{#each}}
    <li>
      <button {{action 'removeSong' this }}>-</button>
      <button {{action 'sendToServer' this }}>&uparrow;</button>
      {{#link-to 'song' id }}
        {{id}}
      {{/link-to}}
    </li>
    {{/each}}
    {{#each remoteSongs}}
    <li>
      {{#link-to 'loadSong' id }}
        {{id}}
      {{/link-to}}
    </li>
    {{/each}}
  </ul>
</section>
