<table>
  <thead>
    <tr>
      <th></th>
      {{#each beat in beats}}
        <th>{{beat}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr {{bind-attr class=isSharp:sharp}}>
        {{#piano-key}}
          {{name}}
        {{/piano-key}}
        {{#each beat in beats}}
          <td {{bind-attr class=isOn:on }} {{action 'toggleNote'}} >
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
