<header>
  <dl>
    <dt><label for='tempo'>Tempo</label></dt>
    <dd>{{view Seq25.TempoView min=0 max=480 value=tempo id='tempo'}}</dd>
  </dl>
  {{#view Seq25.TransportView id='transport' }}
    <button {{action "play"}} {{bind-attr disabled=empty}}>
      {{#if isPlaying }} {{else}} {{/if}}
    </button>
  {{/view}}
</header
<section id='piano-roll'>
  <section id='grid'>
    <div id='play-bar'></div>
    {{beat-list content=beats}}
    <ul>
      {{#each pitch in pitches}}
      <li {{bind-attr class="isSharp:sharp :row"}}>
        {{note-list content=pitch.notes}}
      </li>
      {{/each}}
    </ul>
  </section>
  <ul id='keyboard'>
    {{#each pitch in pitches}}
      {{#piano-key}}
        {{name}}
      {{/piano-key}}
    {{/each}}
  </ul>
</section>
