<section id='piano-roll'>
  <section id='grid'>
    {{play-bar part=this transport=transport}}
    {{view 'beatList' content=beats}}
    {{render 'selectionBox' }}
    {{view 'notesEdit' content=notes}}
    <ul>
      {{#each pitch in pitches}}
        <li {{bind-attr class="pitch.isSharp:sharp :row"}}></li>
      {{/each}}
    </ul>
  </section>
  <ul id='keyboard'>
    {{#each pitch in pitches}}
      {{piano-key part=this.model pitch=pitch}}
    {{/each}}
  </ul>
</section>
