<section id='piano-roll'>
  <section id='grid'>
    {{play-bar part=this transport=transport}}
    {{beat-list content=beats}}
    {{render 'selectionBox' }}
    {{view 'notesEdit' content=notes}}
    <ul>
      {{#each pitches}}
        <li {{bind-attr class="isSharp:sharp :row"}} {{bind-attr data-pitch="name"}}></li>
      {{/each}}
    </ul>
  </section>
  <ul id='keyboard'>
    {{#each pitch in pitches}}
      {{#render 'piano-key' pitch}}
        {{name}}
      {{/render}}
    {{/each}}
  </ul>
</section>
