<header>
  <dl>
    <dt><label for='beats'>Beats</label></dt>
    <dd>
      {{number-input min=1 max=32 value=beat_count action='setBeatCount' id='beats'}}
    </dd>
  </dl>
  {{ render 'instrument' instrument }}
</header>
<section id='piano-roll'>
  <section id='grid'>
    <div class='play-bar'></div>
    {{beat-list content=beats}}
    <ul>
      {{#each pitch in pitches}}
      <li {{bind-attr class="isSharp:sharp :row"}}>
        {{notes-edit content=pitch.notes}}
      </li>
      {{/each}}
    </ul>
  </section>
  <ul id='keyboard'>
    {{#each pitch in pitches}}
      {{#piano-key}}
        {{name}}
      {{/piano-key}}
    {{/each}}
  </ul>
</section>
