<section class="controls">
  <h2>Sequence</h2>
  {{#link-to 'song' this class="parts"}}Parts{{/link-to}}
  {{#link-to 'songs' class="songs"}}Songs{{/link-to}}
  <article>
    <dl>
      <dt><label for='tempo'>Tempo</label></dt>
      <dd>
        {{view 'number' min=1 max=480 value=tempo}}
      </dd>
      {{outlet part-controls}}
    </dl>

    {{render 'transport' }}
  </article>
  {{outlet instruments }}
</section>
{{outlet}}
